<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>

<% @trainer.pokemon.each do |pokemon| %>
    <tr>
      <p>Pokemon: <%= pokemon.name %>, Level: <%= pokemon.level %>, Health: <%= pokemon.health %></p>
    </tr>
    <%= button_to "Damage!", damage_path(id: pokemon.id), :class => "button small", :method => :patch %>
  <% end %>

<p><%= button_to "Create Pokemon", new_pokemon_path(), :class => "button medium", :method => :get if @trainer == current_trainer %><p>
